<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
   {% include "principal/head.html" %}
   {% include "fondo/stars.html" %}
   {% include "principal/logos.html" %}
</head>

   <div id="preloader">
      <div id="loader"></div>
   </div>

<body>
   <div id="app">
      <div class="contend-main">
         {% include "barra/izquierda/barra_iz.html" %}
         <div class="main">
            {% include "barra/superior/barra_su.html" %}
            {% include "panel/panel_3.html" %}
            <div>
               <div class="bg"></div>
               <div class="bg bg2"></div>
               <div class="bg bg3"></div>
            </div>
            {% include "panel/panel_1.html" %}
            {% include "panel/panel_2.html" %}
            {% include "panel/panel_4.html" %}
            {% include "panel/panel_5.html" %}
            {% include "panel/panel_6.html" %}
            {% include "panel/panel_7.html" %}
         </div>
      </div>
   </div>
   {% include "principal/fin.html" %}
</body>
</html>