{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/chosen.jquery.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/animo.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/store%2Bjson2.min.js %}"></script>
<script src="{% static 'js/screenfull.min.js' %}"></script>
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script src="{% static 'js/config-default-validate.js' %}"></script>
<script src="{% static 'js/config-default-ajax.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/function-extra-jquery.js' %}"></script>


<div id="stylebot"></div>