{% load static %}
<!-- Meta-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Blas Medina">
<title>Interfaz de documentos</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/fix.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/animate-animo.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/chosen.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/whirl.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/app.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/fix.css' %}">

<link type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></link>
<link type="text/javascript" src="{% static 'js/fastclick.js' %}"></link>

<style type="text/css">
    td div.actions {
        width: 46px;
    }
</style>
<style type="text/css">
    .jqstooltip {
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
        background: rgb(0, 0, 0) transparent;
        background-color: rgba(0, 0, 0, 0.6);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        color: white;
        font: 10px arial, san serif;
        text-align: left;
        white-space: nowrap;
        padding: 5px;
        border: 1px solid white;
        z-index: 10000;
    }
    
    .jqsfield {
        color: white;
        font: 10px arial, san serif;
        text-align: left;
    }
</style>