{% load static %}
<section id="home" class="hero" >
    <div class="row">
        <div class="content col-md-6">
            <img src="{% static 'img/front.png' %}" class="animated fadeIn move-up float-image" alt="shape"
                style="left: 0%; bottom: 74.4298%;">
            <img src="{% static 'img/php.png' %}" class="animated fadeIn move-up float-image" alt="shape"
                style="left: 10%; bottom: 12.0566%;">
            <img src="{% static 'img/js.png' %}" class="animated fadeIn move-down float-image" alt="shape"
                style="left: 30%; bottom: 14.0061%;">
            <img src="{% static 'img/node.png' %}" class="animated fadeIn move-down float-image" alt="shape"
                style="left: 40%; bottom: 72.2992%;">
            <img src="{% static 'img/react.png' %}" class="animated fadeIn move-down float-image" alt="shape"
                style="left: 50%; bottom: 13.2329%;">
            <img src="{% static 'img/redux.png' %}" class="animated fadeIn move-up float-image" alt="shape"
                style="left: 60%; bottom: 79.2006%;">
            <img src="{% static 'img/css.png' %}" class="animated fadeIn move-up float-image" alt="shape"
                style="left: 70%; bottom: 15.2025%;">
            <img src="{% static 'img/html.png' %}" class="animated fadeIn move-up float-image" alt="shape"
                style="left: 80%; bottom: 74.1965%;">
            <img src="{% static 'img/webpack.png' %}" class="animated fadeIn move-up float-image" alt="shape"
                style="left: 90%; bottom: 19.3872%;">
        </div>
    </div>
</section>