<section class="container setc-main" id="Contact">
    <div class="sectionOne">
        <h2> <i class="far fa-envelope icon-section" aria-hidden="true"></i> Contacto</h2>
        <p>Recuerda que puedes contactarme en cualquier momento.</p>
    </div>
    <div class="contac-info">
        <div>
            <ul>
                <li><b>Ubicación: </b> Santiago-Chile</li>
                <li><b>Teléfono: </b> +56 9 3879 4534</li>
                <li><b>Correo: </b> luis.guerrero.godoy@gmail.com</li>
            </ul>
        </div>
        <div class="contacto-social">
            <h4>Sígueme en redes</h4>
            <div class="networks">
                <div class="social-networks">
                    <ul class="social-networks__list">
                        <li class="social-networks__list--li "><a class="social-networks__list--a" target="_blank"
                                href="https://www.linkedin.com/in/luis-felipe-guerrero-godoy-b81862b6/"><i
                                    class="fab fa-linkedin-in social-networks__list--i " aria-hidden="true"></i></a>
                        </li>
                        <li class="social-networks__list--li "><a class="social-networks__list--a" target="_blank"
                                href="https://github.com/LuisFGG91"><i
                                    class="fab fa-github social-networks__list--i" aria-hidden="true"></i></a></li>
                        <li class="social-networks__list--li "><a class="social-networks__list--a" target="_blank"
                                href="https://api.whatsapp.com/send?phone=56938794534&text=Hola%20Luis%20!"><i
                                    class="fab fa-whatsapp social-networks__list--i" aria-hidden="true"></i></a>
                        </li>
                        <li class="social-networks__list--li "><a class="social-networks__list--a"
                                href="tel:+56938794534"><i class="fas fa-phone social-networks__list--i"
                                    aria-hidden="true"></i></a></li>
                        <li class="social-networks__list--li "><a class="social-networks__list--a" target="_blank"
                                href="https://twitter.com/luisguerrerogod"><i
                                    class="fab fa-twitter social-networks__list--i" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>